<script setup lang="ts">
import { mdiBookEducationOutline } from "@mdi/js";
import { mdiSchool } from "@mdi/js";
import { mdiStarOutline } from "@mdi/js";
import { mdiEmailOutline } from "@mdi/js";
import { mdiPhone } from "@mdi/js";
</script>

<template>
  <v-container>
    <h1>Portfolio</h1>
    <p>Nakamol Buatib</p>
    <p>Burapha University</p>
    <br />

    <v-row>
      <v-col col="2.5">
        <div>
          <v-img width="200" src="./img/Nakamol.png" cover></v-img>
        </div>
      </v-col>
      <v-row>
        <v-col col="4">
          <v-table class="table">
            <thead>
              <tr>
                <th style="font-size: medium">
                  ข้อมูลด้านการศึกษา<v-icon :icon="mdiBookEducationOutline" /> :
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รหัสประจำตัว:</td>
                <td>63160194</td>
              </tr>
              <tr>
                <td>ชื่อ-นามสกุล:</td>
                <td>นางสาวณกมล บัวติ๊บ</td>
              </tr>
              <tr>
                <td>ชื่ออังกฤษ:</td>
                <td>MISS NAKAMOL BUATIB</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>ระดับการศึกษา:</td>
                <td>ปริญญาตรี</td>
              </tr>
              <tr>
                <td>ชื่อปริญญา:</td>
                <td>
                  วิทยาศาสตรบัณฑิต วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 59 -
                  ป.ตรี 4 ปี ปกติ
                </td>
              </tr>
              <tr>
                <td>วิธีรับเข้า:</td>
                <td>รับตรงทั่วประเทศ</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th style="font-size: medium">
                  ประวัติการศึกษา <v-icon :icon="mdiSchool" /> :
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ระดับอนุบาล:</td>
                <td>โรงเรียนยินดีวิทย์</td>
              </tr>
              <tr>
                <td>ระดับประถมศึกษา:</td>
                <td>โรงเรียนยินดีวิทย์</td>
              </tr>
              <tr>
                <td>ระดับมัธยมศึกษา:</td>
                <td>โรงเรียนบดินทรเดชา(สิงห์ สิงหเสนี)สมุทรปราการ</td>
              </tr>
              <tr>
                <td>สถานศึกษาปัจจุบัน:</td>
                <td>มหาวิทยาลัยบูรพา</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th style="font-size: medium">
                  สิ่งที่สนใจ <v-icon :icon="mdiStarOutline" />:
                </th>
              </tr>
              <tr>
                <td>สถานที่ท่องเที่ยว:</td>
                <td>ประเทศแถบเอเชีย, ภูทับเบิก, ดอยอ่างขาง</td>
              </tr>
              <tr>
                <td>งานอดิเรก:</td>
                <td>วาดรูปตามแบบ, อ่านนิยาย, เล่นเกม</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th style="font-size: medium">ช่องทางการติดต่อ:</th>
              </tr>
              <tr>
                <td>
                  Email
                  <v-icon :icon="mdiEmailOutline" /> : 63160194@go.buu.ac.th
                </td>
              </tr>
              <tr>
                <td>
                  เบอร์โทรศัพท์
                  <v-icon :icon="mdiPhone" /> : 0955262117
                </td>
              </tr>
            </thead>
          </v-table>
        </v-col>
      </v-row>
    </v-row>
  </v-container>
</template>

<!-- รูปภาพ
ชื่อ-นามสกุล
ประวัติการศึกษา
สิ่งที่เราสนใจ
v-container, v-row, v-col, v-img, v-table, v-avatar, ... -->
